API_KEY_UA=...
API_KEY_PL=...
FTP_HOST=...
FTP_PORT=...
FTP_USERNAME=...
FTP_PASSWORD=...
FTP_IMPORT_FOLDER=...
VEHICLE_ID_MAP_PATH_UA=...
VEHICLE_ID_MAP_PATH_PL=...
DRIVER_ID_PATH_UA=...
DRIVER_ID_PATH_PL=...